ClienteWCF/Connected Services/ServiceEmpresas/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58598/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58598/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58598/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ObtenerEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleado" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerDescuentoss_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDescuentoss" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerDescuentoss_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDescuentossResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerCantidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCantidad" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerCantidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCantidadResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ObtenerEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerEmpresa" message="tns:IService1_ObtenerEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerEmpresaResponse" message="tns:IService1_ObtenerEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerEmpleado" message="tns:IService1_ObtenerEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerEmpleadoResponse" message="tns:IService1_ObtenerEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerProducto" message="tns:IService1_ObtenerProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerProductoResponse" message="tns:IService1_ObtenerProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDescuentoss">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerDescuentoss" message="tns:IService1_ObtenerDescuentoss_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerDescuentossResponse" message="tns:IService1_ObtenerDescuentoss_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCantidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerCantidad" message="tns:IService1_ObtenerCantidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerCantidadResponse" message="tns:IService1_ObtenerCantidad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleado">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDescuentoss">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerDescuentoss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCantidad">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerCantidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58598/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>