Empresas/Connected Services/ServiceEmpresas/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empresa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:REST">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nombre_Dueño" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre_Empresa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre_Gerente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero_Empleados" type="xs:int" />
          <xs:element minOccurs="0" name="Posicion_Social" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="REST">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="REST" nillable="true" type="tns:REST" />
  <xs:complexType name="Empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Resp">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apellido_Materno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Apellido_Paterno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Empresa_Perteneciente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="No_Empleado" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Resp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resp" nillable="true" type="tns:Resp" />
  <xs:complexType name="Producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="Codigo_Producto" type="xs:int" />
          <xs:element minOccurs="0" name="Empresa_Proviene" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Existencia_Almacen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Precio" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="Descuentos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respu">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo_Producto" type="xs:int" />
          <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
          <xs:element minOccurs="0" name="Nombre_Producto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Precio_Producto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Descuentos" nillable="true" type="tns:Descuentos" />
  <xs:complexType name="Respu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respu" nillable="true" type="tns:Respu" />
  <xs:complexType name="Cantidaad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respues">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo_Producto" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre_Producto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Precio_Producto" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cantidaad" nillable="true" type="tns:Cantidaad" />
  <xs:complexType name="Respues">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respues" nillable="true" type="tns:Respues" />
</xs:schema>